body{
    background-color: rgb(32, 32, 32);
}

form{
    margin-top: 30px;
    text-align: center;
}

.form-control{
    background-color: rgb(113, 113, 113);
    color: rgb(255, 255, 255);
}

form input, form select{
    color: rgb(122, 122, 122);
    margin-bottom: 10px;
}

form input{
    margin-top: 10px;
}

form img{
    width: 200px;
    margin-bottom: 40px;
}

.card{
    margin-top: 40px;
    padding: 5px;
}
.textos{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    font-weight: bold;
}

.card a{
    margin-top: 5px;
}

/* Remover margem do formulário */
.formularioPesquisa{
    margin: 0;
}

/* Estrutura do formulário de pesquisa (barra de navegação) */
.formularioPesquisa input,
.formularioPesquisa input[type="submit"]
{
    
    margin: 0;
}

/* Configurar o dropdown para ser exibido quando passar o cursor sobre o link */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.produto-nao-encontrado{
    text-align: center;
    margin-top: 50px;
    color: white;
}