body{
    background-color: rgb(32, 32, 32);
}

form{
    margin-top: 30px;
    text-align: center;
}

.form-control{
    background-color: rgb(113, 113, 113);
    color: rgb(255, 255, 255);
}

form input{
    color: rgb(122, 122, 122);
    margin-bottom: 10px;
}

form input{
    margin-top: 10px;
}

form img{
    width: 200px;
    margin-bottom: 40px;
}

.card{
    margin-top: 40px;
    padding: 5px;
}
.textos{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    font-weight: bold;
}

.card a{
    margin-top: 5px;
}
